.students {
  width: 49%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.table {
  width: 93%;
  height: 75%;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  border-collapse: collapse;
}

.table tr {
  border-bottom: 1px solid rgb(231, 231, 231);
}

.table th {
  height: 40px;
}
